body {
    background-color: #E3E6E3;
    font-family: helvetica,arial;
    margin: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}


#container {
    width: 1000px;
    margin: 0 auto;
}

/*
Header
*/
#header {
    background-color: #009270;
    padding: 0px 10px 0px;
}
#header .logo {
    padding-top: 10px;
}

/*
Main-Navigation
*/
#main-navigation {
    margin-left: 20px;
}
#main-navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#main-navigation ul li {
    float: left;
    /*margin: 0px 10px;*/
    padding: 20px 10px 15px;
    position: relative;
}
#main-navigation ul li a {
    color: #fff;
    text-decoration: none;
}

#main-navigation .dropdown {
    position: absolute;
    top: 54px;
    width: 300px;
    background-color: lightgreen;
    display: none;
}
#main-navigation .dropdown ul li {
    float: none;
    padding: 10px;
}
#main-navigation .dropdown .column:last-child {
    margin-left: 50px;
}

#main-navigation ul li:hover {
    background-color: #028062;
}
#main-navigation ul li:hover .dropdown {
    display: block;
}