#parent_1, #parent_2, #parent_3, #parent_4 {
    width: 900px;
    background-color: lightgreen;
}
#parent_1 {
    background-color: lightcoral;
}

#parent_2 {
    background-color: lightskyblue;
}

.child_1 {
    background-color: deepskyblue;
}

.grandChild {
    background-color: dimgray;
}

/*Nested Selectors*/
#parent_2 .child_1 .grandChild {
    background-color: lightcoral;
}