#header .logo {
    float: left;
    width: 20%;
}
#header h1 {
    margin-top: 0px;
}
#header .nav {
    float: right;
    width: 50%;
    padding-top: 10px;
}


#parent {
    background-color: red;
}
.column_1 {
    /*background-color: red;*/
    width: 48%;
    float: left;
    padding: 0px 10px;
    margin-right: 10px;
    border-right: 1px solid #000;
}

.column_2 {
    /*background-color: blue;*/
    float: left;
    width: 48%;
    /*margin-left: 10px;*/
}

.div_1 {
    background-color: yellow;
    /*clear: left;*/
}

.blank {
    clear: left;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}